@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
}

body {
  background: url(pexels-20354945.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}